<div class="container">
  <div class="row m-3">
    <%= @user.name %>について
    <table class="table">
      <thead>
        <tr>
          <th>名前</th>
          <td><%= @user.name %>d</td>
        </tr>
        <tr>
          <th>フォロー数</th>
          <td></td>
        </tr>
        <tr>
          <th>フォロワー数</th>
          <td></td>
        </tr>
        <tr>
          <th>ブックマーク数</th>
          <td></td>
        </tr>
        <tr>
          <th>これまでに投稿した本たち</th>
          <td></td>
        </tr>
      </thead>
class    </div>
  </div>
</div>
